<!DOCTYPE html>
<html lang="en-US">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Home Page</title>
    
</head>


<body>
    <h1>Health Risk Calc Home Page</h1>
    
    <div class ="content">
    

    <div>
        <h2>Instructions:  </h2>
        <p>This tool can be used to determine a person's coverage risk. Penalties are assighned for various conditions related to age, bmi, blood pressure, and family history.</p>
        <p>You will be asked variety of questions about health. </p>
        <ul>
            <li>Height is in feet and inches  </li>
            <li>Weight is in pounds </li>
            <li>Blood pressure is measured using two numbers: systolic and diastolic.</li>
            <li>You have to answer yes/no for family history </li>

        </ul>

       

    </div>

    <div class="butCenter">
        <!-- make the button bigger and maybe maek them lookin simliar to the other one in form.html-->
    <button onclick="document.location='/form'">Start Risk Calculator</button>
    </div>
</div>
</body>


</html>